<launch>
  <node name="img_pub" pkg="bag_tools" type="image_sequence_publisher.py" output="screen">
    <param name="image_dir" value="/home/tng042/Jetson-Nano-SLAM/imageDir"/>
    <param name="file_pattern" value="stitch0.jpg"/>
    <param name="image_cycle_limit" value="5"/>
    <param name="camera_info_file" value="/home/tng042/Jetson-Nano-SLAM/config/dual_usb.yaml"/>
    <param name="frequency" value="3"/>
  </node>
</launch>